<div class="auth">

  <app-card>
    <div class="auth__title">
      Sign In
    </div>
    <div class="auth__form">
      <form focusInvalidInput [formGroup]="form" (ngSubmit)="onSubmit()">
          <label>Username
            <input 
              formControlName="username" 
              type="text"
              [class.invalid]="(
                (form.get('username')?.touched
                || form.get('username')?.dirty)
                && !form.get('username')?.valid
              )">
              <small
                *ngIf="(
                  (form.get('username')?.touched
                  || form.get('username')?.dirty)
                  && !form.get('username')?.valid
                )" 
                class="text-error">
                Username is required
              </small>
          </label>
        
          <label>Password
            <input 
              formControlName="password" 
              type="password"
              [class.invalid]="(
                (form.get('password')?.touched
                || form.get('password')?.dirty)
                && !form.get('password')?.valid
              )">
            <small
              *ngIf="(
                (form.get('password')?.touched
                || form.get('password')?.dirty)
                && !form.get('password')?.valid
              )" 
              class="text-error">
              Password is required
            </small>
          </label>

        <button [disabled]="loading" class="btn success block" type="submit">
          <ng-container *ngIf="!loading; else onLoading">
            Login
          </ng-container>

          <ng-template #onLoading>
            <i class="fas fa-spinner fa-pulse mr-1"></i>
            Loading
          </ng-template>

        </button>
      </form>
    </div>
    <div class="auth__info">
      <p>
        Don't have an account yet? <a routerLink="/auth/register">Sign up</a>.
      </p>
    </div>
  </app-card>

</div>