<div class="quest ion-item__form">
  <form focusInvalidInput [formGroup]="form" (ngSubmit)="onSubmit()">

    <label>
      Question
      <input
        formControlName="question"
        type="text"
        [class.invalid]="(
          (form.get('question')?.touched
          || form.get('question')?.dirty)
          && !form.get('question')?.valid
        )">
      <small
        *ngIf="(
          (form.get('question')?.touched
          || form.get('question')?.dirty)
          && !form.get('question')?.valid
        )" 
        class="text-error">
        Question is required
      </small>
    </label>

    <div formArrayName="answers" class="answers mt-1">
      <div
        [formGroupName]="i"
        *ngFor="let answer of answers.controls; let i=index"
        class="answers__answer-item mb-1">
        <label>
          <span class="answer-item__label">Answer {{ i + 1 }}:</span>
          <div class="answer-item__answer">
            <textarea
              formControlName="answer"
              class="answer-item__answer"
              [class.invalid]="(answer.touched || answer.dirty) && !answer.valid"
              cols="30"
              rows="2">
            </textarea>
          </div>
          <div class="answer-item__checkbox">
            <input formControlName="isCorrect" title="Is correct answer" class="is-correct" type="checkbox">
          </div>
          <div class="answer-item__delete">
            <span title="Delete answer" (click)="removeAnswer(i)" class="btn answer-item__delete" >
              <i class="fas fa-trash text-error"></i>
            </span>
          </div>
        </label>
        <small
          *ngIf="(answer.touched || answer.dirty) && !answer.valid" 
          class="text-error">
          Answer content is required
        </small>
        <small
          *ngIf="answer.value?.isCorrect" 
          class="text-success">
          This is the correct answer selected
        </small>
      </div>
      
      <div class="answers__add-btn">
        <button (click)="addAnswer()" type="button" class="btn primary">Add answer</button>
        <small *ngIf="(answers.length < 2) && formSubmitted"
          class="text-dark ml-2">
          You must add at least two answers, {{ 2 - answers.length}} more left.
        </small>
      </div>
    </div>

    <div class="form-inline mb-1">
      <label>
        Category
        <input
          formControlName="category"
          type="text"
          [class.invalid]="(
            (form.get('category')?.touched
            || form.get('category')?.dirty)
            && !form.get('category')?.valid
          )">
        <small
          *ngIf="(
            (form.get('question')?.touched
            || form.get('question')?.dirty)
            && !form.get('question')?.valid
          )" 
          class="text-error">
          Category is required
        </small>
      </label>

      <label>
        Status
        <select
          formControlName="status"
          type="text"
          [class.invalid]="(
            (form.get('status')?.touched
            || form.get('status')?.dirty)
            && !form.get('status')?.valid
          )">

          <option value="0">Unpublished</option>
          <option value="1">Published</option>

        </select>
      </label>
      
    </div>

    <button class="btn success block mt-1" type="submit">Submit</button>
    
  </form>
</div>