<ng-container *ngIf="!(loading$ | async)">
  <div *ngIf="dataTable.length; else emptyDataTable" class="table">
    <table>
      <thead>
        <tr>
          <ng-container *ngIf="tableOptions; else NoOptionsProvided">
            <ng-container *ngFor="let column of columnKeys">
              <th *ngIf="tableOptions[column]?.name">
                <span>
                  {{ tableOptions[column]?.name }}
                </span>
              </th>
            </ng-container>
          </ng-container>
          <ng-template #NoOptionsProvided>
            <th *ngFor="let column of columnKeys">
                {{ column | titlecase }}
            </th>
          </ng-template>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of dataTable">
          <ng-container *ngFor="let column of columnKeys">
            <ng-container *ngIf="tableOptions; else NoOptionsProvided">
              <td [title]="row[column]" *ngIf="tableOptions[column]?.name">
                <app-use-pipe
                  [class]="tableOptions[column]?.styleClass"
                  [pipeProvider]="tableOptions[column]?.transformOptions?.usePipe"
                  [pipeArgs]="tableOptions[column]?.transformOptions?.pipeArgs"
                  [textToFormat]="row[column]">
                </app-use-pipe>
              </td>
            </ng-container>
            <ng-template #NoOptionsProvided>
              <td [innerHTML]="row[column]"></td>
            </ng-template>
          </ng-container>
  
          <td>
            <button *ngIf="!disableEdit" (click)="onEditClick(row)" class="btn small default mr-1">Edit</button>
            <button *ngIf="!disableDelete" (click)="onDeleteClick(row)" class="btn small error">Delete</button>
          </td>
        </tr>
      </tbody>
  
    </table>
  </div>
  <!-- Show when data is empty -->
  <ng-template #emptyDataTable>
    <div class="error-data">
      No data to show
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="(loading$ | async)">
  <app-loading></app-loading>
</ng-container>