<div *ngIf="dataTable.length; else emptyDataTable" class="table">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of columnKeys">
          <ng-container *ngIf="tableOptions; else NoOptionsProvided">
            {{ tableOptions[column]?.name }}
          </ng-container>
          <ng-template #NoOptionsProvided>
            {{ column | titlecase }}
          </ng-template>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataTable">
        <td *ngFor="let column of columnKeys">

          <ng-container *ngIf="tableOptions; else NoOptionsProvided">
            <span [class]="tableOptions[column]?.styleClass">
              <app-use-pipe
                  [pipeProvider]="tableOptions[column]?.transformOptions?.usePipe"
                  [pipeArgs]="tableOptions[column]?.transformOptions?.pipeArgs"
                  [textToFormat]="row[column]">
              </app-use-pipe>
            </span>
            </ng-container>
            <ng-template #NoOptionsProvided>
              {{ row[column] }}
            </ng-template>

        </td>
        <td>
          <button (click)="onEditClick(row)" class="btn small default mr-1">Edit</button>
          <button (click)="onDeleteClick(row)" class="btn small error">Delete</button>
        </td>
      </tr>
    </tbody>

  </table>
</div>

<ng-template #emptyDataTable>
  <div class="error-data">
    No data to show
  </div>
</ng-template>