@import 'src/theme/variables';

.dashboard {

  display: grid;
  grid-gap: $card-gutter-gap;
  max-width: 97%;
  margin: 1em auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "actions actions"
    "stats stats"
    "answered unanswered";
  transition: all 2s;
  box-sizing: border-box;
  
  .dashboard__quick-actions {
    grid-area: actions;

    .quick-actions__title {
      text-align: center;
    }

    .quick-actions__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      
      button {
        border: none;
        margin: 1em;
        border: 1px solid $border-color;
        width: 220px;
        height: 70px;
        max-width: 80%;
      }
    }
  }

  .dashboard__stats {
    grid-area: stats;
    text-align: center;

    .stats__title {
      width: 100%;
    }

    .stats_hits {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
      &:nth-child(1n) {
        margin-top: 2em;
        .hits__correct, .hits__incorrect {
          width: 100px;
          height: 100px;
          background-color: $bg-color;
          border: 1px solid $border-color;
          outline: 1px solid $border-color;
          outline-offset: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'roboto';

          h1{
            display: block;
          }
      }
      }
    }
    
  }
  
  .dashboard__answered {
    grid-area: answered;
  }
  
  .dashboard__unanswered {
    grid-area: unanswered;
  }


  li {
    display: flex;
    justify-content: space-between;
  }
  

}



@media all and (max-width: $x-large) {}
@media all and (max-width: $x-medium) {
  .dashboard {
    grid-template-areas:
      "actions actions"
      "stats stats"
      "unanswered unanswered"
      "answered answered";
  }
}
@media all and (max-width: $x-small) {

}