
<div class="container">
  <div class="card-a">
    <app-card>
      <h1>A</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam consequuntur amet quos incidunt eveniet
        libero ducimus saepe laboriosam omnis quibusdam excepturi iste et, architecto inventore iusto repudiandae nihil
        ipsum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam consequuntur amet quos incidunt eveniet
        libero ducimus saepe laboriosam omnis quibusdam excepturi iste et, architecto inventore iusto repudiandae nihil
        ipsum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam consequuntur amet quos incidunt eveniet
        libero ducimus saepe laboriosam omnis quibusdam excepturi iste et, architecto inventore iusto repudiandae nihil
        ipsum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam consequuntur amet quos incidunt eveniet
        libero ducimus saepe laboriosam omnis quibusdam excepturi iste et, architecto inventore iusto repudiandae nihil
        ipsum?</p>
    </app-card>
  </div>
  
  <div class="card-b">
    <app-card>
      <h1>B</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam consequuntur amet quos incidunt eveniet
        libero ducimus saepe laboriosam omnis quibusdam excepturi iste et, architecto inventore iusto repudiandae nihil
        ipsum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam consequuntur amet quos incidunt eveniet
        libero ducimus saepe laboriosam omnis quibusdam excepturi iste et, architecto inventore iusto repudiandae nihil
        ipsum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam consequuntur amet quos incidunt eveniet
        libero ducimus saepe laboriosam omnis quibusdam excepturi iste et, architecto inventore iusto repudiandae nihil
        ipsum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum magnam consequuntur amet quos incidunt eveniet
        libero ducimus saepe laboriosam omnis quibusdam excepturi iste et, architecto inventore iusto repudiandae nihil
        ipsum?</p>
    </app-card>
  </div>  
</div>