
<div class="dashboard">

  <!------------------------------------------------->
  <!--              QUICK ACTIONS                        -->
  <!------------------------------------------------->
  <app-card class="dashboard__quick-actions">
    <div class="quick-actions__title">
      <h4>Quick actions</h4>
    </div>
    
    <div class="quick-actions__buttons">
      <div>
        <button type="button">Add new question</button>
      </div>
      <div>
        <button type="button">Manage users</button>
      </div>
    </div>
  </app-card>

  <!------------------------------------------------->
  <!--              SUMMARY                        -->
  <!------------------------------------------------->
  <app-card class="dashboard__stats">
    <div class="stats__title">
      <h4>Summary</h4>
    </div>
    <div class="stats_hits">
      <div class="mr-4">
        <div class="hits__correct">
          <h1>3</h1>
        </div>
        <p>Correct</p>
      </div>
      <div class="ml-4">
        <div class="hits__incorrect">
          <h1>2</h1>
        </div>
        <p>Incorrect</p>
      </div>
    </div>
  </app-card> 

  <!------------------------------------------------->
  <!--              LAST 5 ANSWERED                -->
  <!------------------------------------------------->
  <app-card class="dashboard__answered">
    <h4>Last 5 answered</h4>

    <app-list>
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eius, ducimus quam perferendis enim corrupti praesentium aliquam, ad unde at esse incidunt illum possimus nesciunt eum quae dolore in alias. <span class="badge success">Correct</span></li>
        <li>Dos <span class="badge error">Incorrect</span></li>
        <li>Tres <span class="badge success">Correct</span></li>
        <li>Cuatro <span class="badge success">Correct</span></li>
        <li>Cinco <span class="badge error">Correct</span></li>
      </ul>
    </app-list>

  </app-card>

  <!------------------------------------------------->
  <!--              LAST 5 UNANSWERED              -->
  <!------------------------------------------------->
  <app-card class="dashboard__unanswered">
    <h4>Last 5 unanswered</h4>

    <div class="list">
      <ul>
        <li>Uno <span class="badge warning">Unanswered</span></li>
        <li>Dos <span class="badge warning">Unanswered</span></li>
        <li>Tres <span class="badge warning">Unanswered</span></li>
        <li>Cuatro <span class="badge warning">Unanswered</span></li>
        <li>Cinco <span class="badge warning">Unanswered</span></li>
      </ul>
    </div>
  </app-card>
</div>