@import 'src/theme/variables';

li {
  display: flex;
  justify-content: space-between;
}

.container{

  display: grid;
  grid-gap: 1.5em;
  max-width: 97%;
  margin: auto;
  margin-top: 1.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "stats stats"
    "answered unanswered";
  transition: all 2s;
  box-sizing: border-box;
  
  .stats {
    grid-area: stats;
    text-align: center;

    .stats__title {
      width: 100%;
    }

    .stats_hits {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      
      &:nth-child(1n) {
        margin-top: 2em;
        .hits__correct, .hits__incorrect {
          width: 100px;
          height: 100px;
          background-color: $bg-color;
          border: 1px solid $font-color;
          outline: 1px solid $font-color;
          outline-offset: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'roboto';

          h1{
            display: block;
          }
      }
      }
    }
    
    
  }
  
  .answered {
    grid-area: answered;
  }
  
  .unanswered {
    grid-area: unanswered;
  }

}



@media all and (max-width: $x-large) {}
@media all and (max-width: $x-medium) {
  .container{
    grid-template-areas:
      "stats stats"
      "answered answered"
      "unanswered unanswered";
  }
}
@media all and (max-width: $x-small) {

}