@import './variables';
@import './plugins';
@import './components/components';
@import './fonts/fonts';
@import './helpers/helpers';

body {
  background-color: $bg-color;
  font-family: $primary-font;
  font-size: 1.1em;
  color: $font-color;
}

/* Responsive */
@media all and (max-width: $x-large) {}

@media all and (max-width: $x-small) {}
