/* Color palette*/
$success: #4caf50;
$warning: #ff9800;
$error: #f44336;
$info: #e27c9e;
$primary: #2196f3;
$default: #90caf9;

$bg-color: rgb(245, 245, 245);
$font-color: rgb(112, 112, 112);

$primary-font: 'roboto', sans-serif;
$header-height: 80px;

/* 
## Breakpoints
Source: https://medium.com/@uiuxlab/the-most-used-responsive-breakpoints-in-2017-of-mine-9588e9bd3a8a
*/
$x-large: 1024px;
$x-medium: 839px;
$x-small: 480px;