/* Color palette*/
$success: #1abc9c;
$warning:#f1c40f;
$error: #c6382f;
$info:#9b59b6;
$primary: #3498db;
$default: #49637e;

$bg-color: rgb(240, 242, 245);
$font-color: rgb(92, 92, 92);

$primary-font: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;;
$header-height: 80px;
$card-gutter-gap: 0.7em;
$border-radius: 3px;
$border-color: #DDD;
$border-color-secondary: rgb(190, 190, 190);

/* 
## Breakpoints
Source: https://medium.com/@uiuxlab/the-most-used-responsive-breakpoints-in-2017-of-mine-9588e9bd3a8a
*/
$x-large: 1024px;
$x-medium: 925px;
$x-small: 480px;