<div class="questions">
  <div class="questions__title">
    <h1>Questions</h1>
  </div>
  <div class="questions__actions">
    <button [routerLink]="['/questions/0']" class="btn primary" type="button">
      Create new question
    </button>
  </div>

  <div class="questions__list">

    <div class="table">
      <table>
        <tr>
          <th>Id</th>
          <th>Question</th>
          <th>Status</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>1</td>
          <td>How to became millonarie?</td>
          <td><span class="badge warning">Unpublished</span></td>
          <td>General</td>
          <td>
            <button class="btn small default mr-1">Edit</button>
            <button class="btn small error">Delete</button>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
