@import "src/theme/variables";

header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .menu-toggle {
    margin-left: 1.5em;
    width: 20px;

    &:hover {
      cursor: pointer;
    }
  }

  .menu-brand {
    margin: auto;

    &:hover {
      cursor: pointer;
    }
  }

  .menu-logout {
    margin-right: 1.5em;
    width: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}
