.card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow:
    0 2.8px 2.2px -15px rgba(0, 0, 0, 0.007),
    0 6.7px 5.3px -15px rgba(0, 0, 0, 0.015),
    0 12.5px 10px -15px rgba(0, 0, 0, 0.023),
    0 22.3px 17.9px -15px rgba(0, 0, 0, 0.033),
    0 41.8px 33.4px -15px rgba(0, 0, 0, 0.046),
    0 100px 80px -15px rgba(0, 0, 0, 0.07)
  ;

}